<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apartmentsystem.mapper.AnnouncementMapper">
    <insert id="insertAnnouncement">
        INSERT INTO announcements (title, content, created_by, created_at, updated_at)
        VALUES (#{title}, #{content}, #{created_by}, NOW(), NOW())
    </insert>
    <update id="updateAnnouncementById">
        UPDATE announcements
        SET title = #{title}, content = #{content}, updated_at = NOW()
        WHERE id = #{id}
    </update>
    <delete id="deleteAnnouncementById">
        DELETE FROM announcements
        WHERE id = #{id}
    </delete>
    <select id="getAllAnnouncement" resultType="com.apartmentsystem.entity.Announcement">
        SELECT * FROM announcements
    </select>
</mapper>